* a:link{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(65,205,5);
    padding: 10px 0px;
}

header a:link{
    font-family: Arial, Helvetica;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
    gap: 10px;
}

.presentacion_personal{
    display: flex;
    justify-content: center;
    background-color: rgb(0,205,205);
    padding: 10px 10px;
}

.presentacion_personal_contenedor{
    width: 50%;
}

.presentacion_personal_titulo{
    width: 90%;
}

.presentacion_personal_texto{
}

.presentacion_personal_img{
    height: 150px;
    width: 150px;
}

.proyectos{
    background: rgb(0,255,255);
    padding: 20px 20px;
}

.proyectos_cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 25px;
}

.card{
    width: 300px;
}

.formulario_contacto{
    display:flex;
    justify-content: center;
    background-color: rgb(25,205,255);
    padding: 20px 20px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(220,115,35);
    padding: 20px 20px;
    padding-bottom: 50px;
}

.footer_item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
}

footer a:link{
    font-family: Arial, Helvetica;
}

@media screen and (min-width:789px){
    .presentacion_personal{
        padding: 20px 20px;
    }

    .presentacion_personal_contenedor{
        width: 50%;
    }

    .presentacion_personal_titulo{
        width: 90%;
    }

    .presentacion_personal_texto{
    }

    .presentacion_personal_img{
        height: 300px;
        width: 300px;
    }

    .proyectos_cards{
        grid-template-columns: repeat(3,1fr);
    }
    .card{
        width: 400px;
    }
}

@media screen and (min-width:500px) and (max-width:789px){
    .presentacion_personal{
        padding: 20px 20px;
    }

    .presentacion_personal_contenedor{
        width: 50%;
    }

    .presentacion_personal_titulo{
        width: 90%;
    }

    .presentacion_personal_texto{
    }

    .presentacion_personal_img{
        height: 200px;
        width: 200px;
    }

    .proyectos_cards{
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
    .card{
        width: 350px;
    }
}