header{
    display: flex;
    background-color: rgb(240,240,240);
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.headerIzquierdo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

.headerIzquierdo a{
    margin-left: 20px;
}

.headerIzquierdo button{
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica;
    color: black;
}

.headerIzquierdo button:disabled{
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica;
    color: grey;
}

.buscador{
    display: flex;
    padding-right: 10px;
}

.cartas{
    display: flex;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    line-height: 25px;
}