header{
	display: flex;
	justify-content: center;
}

.logoCac{
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(99,99,99);
    width: 40%;
    padding-left: 50px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(124,00,09);
    width: 60%;
    padding-right: 50px;
}

.navigation a:link{
    text-decoration: none;
    font-family: Arial, Helvetica;
}

.navigation a:visited{
    color: white;
}

.mainScreen{
    display: flex;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/hawaii.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 25% 75%;
    height: 500px;
    justify-content: right;
    align-items: center;
    text-align: right;
    padding-right: 70px;
}

.secondScreen{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: rgb(23,99,06);
    text-align: center;
}

.containerCards{
    display:flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.card{
    display: flex;
    padding: 15px;
    margin-left: 10px;
    flex-direction: column;
    background-color: rgb(77,63,67);
    text-align: left;
}

.cardDescriptiveButton{
    padding-top: 10px;
}

.thirdScreen{
    display:flex;
    color: white;
    background-color: rgb(80,23,80);
    text-align: left;
}

.thirdScreenText{
    padding-left: 20px;
    align-items: left;
}

.formScreen{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(23,99,06);
}

footer{
    display: flex;
    background: rgb(34,56,78);
    padding: 20px 90px;
    justify-content: space-between;
}

/*
	display: inline-block; //
*/