header{
    display: flex;
    flex-direction: row;
	justify-content: center;
	height: 70px;
}

.logoCac{
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(50,50,50);
    width: 40%;
    padding-left: 50px;
}

.logoImagen{
    width: 100px;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(50,50,50);
    width: 60%;
    padding-right: 50px;
    flex-direction: row;
}

.navigation a:link{
    text-decoration: none;
    font-family: Arial, Helvetica;
}

.navigation a:visited{
    color: rgb(150,150,150);
}

.mainScreen{
    display: flex;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/hawaii.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 25% 75%;
    height: 500px;
    justify-content: right;
    align-items: center;
    text-align: right;
    padding-right: 70px;
    animation: backgroundCarousel 10s infinite;
}

.rightMainScreen{
    width: 40%;
}

@keyframes backgroundCarousel {
  0%   {background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/hawaii.jpg");}
  40%  {background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/hawaii2.jpg");}
  80% {background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/hawaii3.jpg");}
}

.secondScreen{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(255,255,255);
    text-align: center;
}

.containerCards{
    display:flex;
    align-items: flex-start;
    margin: 0 auto;
    justify-content: center;
}

.card{
    display: flex;
    margin-left: 20px;
    width: 300px;
    flex-direction: column;
    background-color: rgb(255,255,255);
    text-align: left;
}

.cardDescriptiveButton{
    padding-top: 10px;
}

.thirdScreen{
    display:flex;
    color: white;
    background-color: rgb(50,50,50);
    text-align: left;
}

.thirdScreenImagen{
    width: 50%;
}

.thirdScreenText{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    align-items: left;
}

.formScreen{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255,255,255);
}

.formulario{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.formularioTop{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.formularioTopLeft{
    width: 47%;
}

.formularioTopRight{
    width: 47%;
}

.formularioMid{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.btnLightGreenColor{
    padding: 10px;
    border: none;
    color: rgb(255,255,255);
    background-color: rgb(141,182,0);
}

footer{
    display: flex;
    background: rgb(34,70,90);
    padding: 30px 200px;
    justify-content: space-between;
    justify-text: center
}

footer a:link{
    text-decoration: none;
    font-family: Arial, Helvetica;
}

.customButtonBlackText{
    padding: 0.5px 5px;
    font-size: 10px;
    font-weight:bold;
}

.customButtonWhiteText{
    padding: 0.5px 5px;
    font-size: 10px;
    font-weight:bold;
    color: white;
}

@media screen and (min-width:768px) and (max-width:1024px){

    .navigation{
        font-size: 80%;
    }

    .card{
        width: 30vw;
        font-size: 3vh;
    }

    footer{
        font-size: 80%;
        padding: 30px 50px;
        justify-content: space-around;
    }
}

@media screen and (max-width:768px){
    header{
        flex-direction: column;
        height: 20%;
    }

    .logoCac{
        width: 100%;
        padding-left: 0px;
    }

    .navigation{
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: right;
        justify-content: left;
    }

    .mainScreen{
        background-size: 150%;
        background-position: 0% 0%;
        justify-content: right;
    }

    .rightMainScreen{
        width: 50%;
        font-size: 3vw
    }

    .containerCards{
        margin: 0 0;
        padding-right: 10px;
    }

    .card{
        width: 30vw;
        font-size: 1vh;
    }

    .thirdScreenText{
        font-size: 60%;
    }

    footer{
        padding: 10px 20px;
        justify-content: space-around;
    }

    footer a:link{
        text-decoration: none;
        font-family: Arial, Helvetica;
        font-size: 80%;
    }
}

